address {
  margin-right: 7px;
}

.main-header__contacts {
  width: 201px;
  text-align: right;
}

.contacts__phone {
  font-family: "Gotham Pro";
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  display: block;
  margin-top: 14px;

}

.contacts__schedule {
  position: relative;
  display: block;
  margin-left: 86px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  color: #ec1e79;
  text-decoration: underline;
}

.contacts__schedule:hover {
  margin-left: 86px;
  color: #769dcd;
  font-weight: bold;
  text-decoration: underline;
}
