.main-header__logo {
  /*width: 50%;*/
  /*display: inline-block;*/
  /*float: left;*/
  flex-grow: 1;
}

.logo__link {
  width: 99px;
  height: 51px;
  display: block;
  overflow: hidden;
  margin-top: 13px;
}

.logo__img {
  width: 100%;
  height: auto;
}
